{:title "kittyfarren.dev"
 :url "https://kittyfarren.dev"
 :feedid "https://kittyfarren.dev/"
 :authorname "Kitty Farren"
 :feedsdir ""
 :folders {:index {:name "Index"
                   :infolder "index"
                   :outfolder ""
                   :template "base.html"
                   :header "header.html"
                   :footer "footer.html"
                   :style "style.css"
                   :pages [{:title "kittyfarren.dev"
                            :date "2024-03-14"
                            :file "index.html"
                            :summary "Homepage"}]}

           :projects {:name "Projects"
                      :infolder "projects"
                      :outfolder "projects"
                      :template "base.html"
                      :header "header.html"
                      :footer "footer.html"
                      :style "style.css"
                      :pages [{:title "BLE Earrings"
                               :date "2024-03-23"
                               :file "BLEEarrings.html"
                               :summary
                               "Bladerunner inspired BLE Earrings"}
                               {:title "Previous Crochet"
                               :date "2024-03-23"
                               :file "CrochetPrev.html"
                               :summary
                               "A collection of previous crochet projects"}
                               {:title "Maxi Skirt"
                               :date "2024-03-23"
                               :file "CrochetSkirt.html"
                               :summary
                               "A crochet maxi-skirt made from recycled yarn."}
                               {:title "Stegosaurus"
                               :date "2024-03-23"
                               :file "CrochetStegosaurus.html"
                               :summary
                               "A crochet stegosaurus from an African Flower motif"}
                               {:title "Stegosaurus"
                               :date "2024-03-23"
                               :file "CrochetLampshade.html"
                               :summary
                               "A crochet covered lampshade"}
                               {:title "Mirror"
                               :date "2024-04-06"
                               :file "MosaicMirror.html"
                               :summary
                               "A mirror mosaiced with recycled plates"}
                               
                              ]}}
                              }
