<!doctype html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">

    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 x=%22-0.2em%22 font-size=%22100%22>👩‍💻</text></svg>"
    >
    <link rel="alternate" type="application/atom+xml" title="ATOM Feed" href="/atom.xml">
    <link rel="alternate" type="application/feed+json" title="JSON Feed" href="/feed.json">

    <meta name="theme-color" content="#fafafa">

    <title>Kitty Farren</title>

    <style>
    {{{style}}}
    </style>

</head>

<body>

    <div class="header">
    {{{header}}}
    </div>

    <main>
    {{{main}}}
    </main>
    
    <h3>Recent Posts</h3>
    {{{hfeed}}}

    <div class="footer">
    {{{footer}}}
    </div>

</body>

</html>
