<hr>
<p>
    <a href="/projects/BLEEarrings.html" class="footlink">Project: BLE Earrings</a>
    <a href="/projects/CrochetPrev.html" class="footlink">Project: Previous Crochet Projects</a>
    <a href="/projects/CrochetLampShade.html" class="footlink">Project: Crochet Lampshade</a>
    <a href="/projects/CrochetSkirt.html" class="footlink">Project: Crochet Maxi-Skirt</a>
    <a href="/projects/CrochetStegosaurus.html" class="footlink">Project: Crochet Stegosaurus</a>
    <a href="/projects/MosaicMirror.html" class="footlink">Project: Recycled Mosaic Mirror</a>
    <a href="/projects/RecycledLampshades.html" class="footlink">Project: Recycled Glass Lampshades</a>
</p>
<p>
    <a href="/" class="footlink">Home</a>
    <a href="/twtxt.txt" class="footlink">TWTXT Feed</a>
    <a href="/atom.xml" class="footlink">ATOM Feed</a>
    <a href="/feed.json" class="footlink">JSON Feed</a>
</p>
