@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Lato:wght@700&family=Poppins:wght@200;400;600&display=swap');
:root {
  --blue-one-hex: 93,203,215;
}

html{
  background: #360051;
  padding: 10vw;
}

figure{
  width:100%;
  margin:auto;
}

.threepics{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @media only screen and (max-width: 600px){
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: min(300px, 100%)
    }
    }
    
    .threepics .div1 { grid-area: 1 / 1 / 2 / 5; }
    .threepics .div2 { grid-area: 2 / 1 / 3 / 3; }
    .threepics .div3 { grid-area: 2 / 3 / 3 / 5; } 

    .fivepicsalt {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }
      
      .fivepicsalt .div1 { grid-area: 1 / 1 / 3 / 2; }
      .fivepicsalt .div2 { grid-area: 1 / 2 / 2 / 4; }
      .fivepicsalt .div3 { grid-area: 1 / 4 / 2 / 6; }
      .fivepicsalt .div4 { grid-area: 2 / 2 / 3 / 4; }
      .fivepicsalt .div5 { grid-area: 2 / 4 / 3 / 6; } 

.fivepics {
align-items: center;
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;


@media only screen and (max-width: 600px){
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: min(300px, 100%)
}
}

.fivepics .div1 { grid-area: 1 / 1 / 2 / 3; }
.fivepics .div2 { grid-area: 1 / 3 / 2 / 5; }
.fivepics .div3 { grid-area: 1 / 5 / 2 / 7; }
.fivepics .div4 { grid-area: 2 / 2 / 3 / 4; }
.fivepics .div5 { grid-area: 2 / 4 / 3 / 6; }


.onepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;

  @media only screen and (max-width: 600px){
    width:100%;
  }
}

.twopics {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;


  @media only screen and (max-width: 600px){
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: min(300px, 100%)
  }
}
.twopics .div2{ grid-area: 1 / 2 / 2 / 3; }
.twopics .div1 { grid-area: 1 / 1 / 2 / 2; }

.twopicsalt {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;


  @media only screen and (max-width: 600px){
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: min(300px, 100%)
  }
  }
  
  .twopicsalt .div1 { grid-area: 1 / 1 / 2 / 3; }
  .twopicsalt .div2 { grid-area: 1 / 3 / 2 / 4; } 


.halfwidth{
  width: 49%;
}

.thirdwidh{
  width: 30%;
}

.row{
  display: flex;
  flex-direction: row;
}

img{
  width: 100%;
  margin: auto;
}

picture{
  width: fit-content;
}

body{
    margin: 0 auto;
    max-width: 800px;
    color:#ffffff;
    font-family: Poppins;
    background-color: #360051;
    font-size: 16px;
  }

.size {
  margin:0;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.captioncenter{
  font-size: 10px;
  font-style: italic;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.small {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
}

h2 {
  font-weight: 600;
  margin: 0;
  font-size: 38px;
  text-transform: uppercase;
  line-height: 2.5rem;
}

.right {
  text-align:right;
}

/* unvisited link */
a:link {
    color: palegoldenrod;
  }
  
  /* visited link */
  a:visited {
    color: pink;
  }

.footlink{
  margin-right: 5%;
}
.text{
  background: #000000;
  color:#ffffff;
  font-family: arial;
  font-weight: 600;
}

#maintitle {
  margin: 0rem 5rem 0 0;
  text-align: center;
  font-family: sans-serif;
  font-size: min(5vw, 50px);
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: max(-0.2vw, -2px) min(0.2vw, 2px) #ef3550,
               max(-0.4vw, -4px) min(0.4vw, 4px) #f48fb1,
               max(-0.6vw, -6px) min(0.6vw, 6px) #7e57c2,
               max(-0.8vw, -8px) min(0.8vw, 8px) #2196f3,
               max(-1vw, -10px) min(1vw, 10px) #26c6da,
               max(-1.2vw, -12px) min(1.2vw, 12px) #43a047,
               max(-1.4vw, -14px) min(1.4vw, 14px) #eeff41,
               max(-1.6vw, -16px) min(1.6vw, 16px) #f9a825,
               max(-1.8vw, -18px) min(1.8vw, 18px) #ff5722;
}

#org {
  display:block;
  clear:both;
  font-size: min(5vw, 50px);
  margin: 0rem 0 0 0;
  line-height: 6rem;
  span{
    display:inline-block;
    margin:0;
  }
  @media only screen and (max-width: 800px){
    font-size: 15vw;
  }
}

hr {
    border: 0;
    width: min(100%, 800px);
    height: 0;
    border-top: 0.3rem dotted yellow;
    position: relative;
    overflow: visible;
    margin: 3rem 0;
  }
  hr:before {
    animation: move 10s infinite linear;
    position: absolute;
    top: -14px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='571.11' width='541.6'%3E%3Cpath style='fill:%23ffcc00' d='M535.441,412.339A280.868,280.868 0 1,1 536.186,161.733L284.493,286.29Z'/%3E%3C/svg%3E");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    content: ' ';
    height: 24px;
  }
  hr:after {
    animation: move 10s 1s infinite linear;
    position: absolute;
    top: -14px;
    left:0;
    right: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 400 444.34' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='...");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    content: ' ';
    height: 24px;
  }
  @keyframes move {
    0% {
      background-position: 0 0;
    }
  }
    